body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    height: 90vh;
}

.info {
    min-height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerName, .startBtn {
    height: 25px;
}

.playerName {
    margin: 10px;
}

#gameMsg {
    font-size: 1rem;
    font-style: italic;
    padding: 0px;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: 30rem;
}

.btnMove {
    width: 10rem;
    height: 10rem;
}

.displayMove {
    font-size: 5rem;
    font-weight: 800;
}